@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutVM.cshtml";
}
<script src="~/Javascript/Main-ChooseGame.js"></script>

<div class="container">
    <div class="row" style="padding:10px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/originals/40/c4/32/40c432aa2f47e4f655b158edfa1d3efb.jpg" alt="" height="120px;">
                <div class="card-body">
                    <div style="text-align:center">
                        <h3>TriviadaMENTE</h3>
                        <p class="card-text">Se le mostraran preguntas aleatorias mas adelante con 4 posibles respuestas de las cuales solo una es la correcta, debe elegir una de ellas para continuar con la siguiente pregunta.</p>
                        <button class="btn btn-info"> Comenzar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding:10px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/originals/40/c4/32/40c432aa2f47e4f655b158edfa1d3efb.jpg" alt="" height="120px;">
                <div class="card-body">
                    <div style="text-align:center">
                        <h3>Cuento</h3>
                        <p class="card-text">Se le mostraran parrafos de cuentos mas adelante y se realizaran preguntas relazionadas a ellos, debe responder cada una de las preguntas para avanzar con la sigueinte.</p>
                        <button class="btn btn-info"> Comenzar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



