
@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_LayoutVM.cshtml";
    String titulo = "Patito Feo";
    String titulo2 = "Pinocho";
    String titulo3 ="liebre";
}

<link rel="stylesheet" type="text/css" href="~/Style/RandomQuestion.css?x=1" />
<div class="container">


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center tittle">
            <h2>Cuentos</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-2 text-center box"><label>  </label></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center box" style="background-color: #D90368;"><a style="color:#212529"  href="@Url.Action("Test","ShowTextImage",new { Titulo = titulo })"> @titulo </a></div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-2 text-center box"><label>  </label></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center box" style="background-color: #D90368;"><a style="color:#212529" href="@Url.Action("Test", new { Titulo = titulo2 })"> @titulo2 </a ></div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-2 text-center box"><label>  </label></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center box" style="background-color: #D90368;"><a style="color:#212529" href="@Url.Action("Test", new { Titulo = titulo3 })"> La liebre y la tortuga </a></div>
        </div>
    

</div>

<script>
    $(document).ready(function () {
        let score = 0;
        saveLocalStorage('scoreCuentaMente', score);
    });
</script>

<script src="~/Javascript/RandomCategory.js"></script>
