
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutVM.cshtml";
}


<html>
<head>
    <title>CUENTO</title>
    <style>
        .header {
            text-align: center;
            height: 300px;
            padding: 12px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h3> Descriprición: </h3>
        <p>Aquí iría el cuento </p>
    </div>
</body>
</html>

