<link rel="stylesheet" type="text/css" href="~/Style/StructureQuestion.css?x=1" />
@{ 
    string dep = ViewBag.Dep;
}
<div class="container">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 logo" id="xxx">
            @*<img src="~/Img/CIENCIAS.png" height="150" width="150"/>*@
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 text-center cardback">
            <p>¿Cuántos ojos tiene una araña?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:30px;" @*onclick="Hello()"*@><label>Respuesta</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:35px;">Respuesta</div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:30px;" @*onclick="Hello()"*@><label>Respuesta</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:35px;">Respuesta</div>
    </div>
</div>

<script>

    $(document).ready(function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const result = urlParams.get('Department')
        $('#example').text(result);
        console.log(result);

        if (result == "Inglés") {
            $('#xxx').append(`<img src="../Img/INGLÉS.png" height="150" width="150" />`);
        } else if (result == "Español") {
            $('#xxx').append(`<img src="../Img/ESPAÑOL.png" height="150" width="150" />`);
        } else if (result == "Matemáticas") {
            $('#xxx').append(`<img src="../Img/MATEMÁTICA.png" height="150" width="150" />`);
        } else if (result == "Ciencias Naturales") {
            $('#xxx').append(`<img src="../Img/CIENCIAS.png" height="150" width="150" />`);
        } else if (result == "Estudios Sociales") {
            $('#xxx').append(`<img src="../Img/ESTUDIOS SOCIALES.png" height="150" width="150" />`);
        }
    });
</script>