<link rel="stylesheet" type="text/css" href="~/Style/StructureQuestion.css?x=1" />

<div class="container">

    <div class="row">logo
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <img src="~/LOGO (1).png" height="100" width="100"/>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 text-center cardback">
            <p>¿Cuántos ojos tiene una araña?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:30px;" @*onclick="Hello()"*@><label>Respuesta</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:35px;">Respuesta</div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:30px;" @*onclick="Hello()"*@><label>Respuesta</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button" style="margin-left:35px;">Respuesta</div>
    </div>
</div>


@*<script>


    let Hello = () => {
        alert('Hello')
    }

</script>*@